@import "tailwindcss";

/* From Uiverse.io by kennyotsu */
/* From Uiverse.io by Ali-Tahmazi99 */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}




/* GEAR LOADING */

/* From Uiverse.io by Nawsome */
